html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans',sans-serif;

    a {
        text-decoration: none;
        color: white;
    }

    h1 {
        font-family: "Proxima Nova";
        font-size: 60px;
    }

    .button {
        padding: 1em;
        background-color: #79ADDC;
        display: inline-block;
        color: white;
    }

    .learn-more {
        padding: 1em;
        background-color: #79ADDC;
        display: inline-block;
        color: white;
        border-radius: 50%;
    }
}

.site-container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 500px;

}

@font-face {
    font-family: "Proxima Nova";
    src: url(/app/fonts/Proxima-Nova-Thin.otf);
}